{
  "extends": "loopback",
  "env": { "es6": true },
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "object-curly-spacing": 0,
    "space-before-function-paren": 0,
    "padded-blocks": 0,
    "no-undef": 0,
    "camelcase": 0,
    "brace-style": 0,
    "no-multiple-empty-lines": 0,
    "max-len": ["error", 100]
  }
}
